body {
    margin: 0;
    font-family: Arial;
    background: #F5F7FA;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #0B1F3A;
    color: white;
}

.logo {
    height: 50px;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.hero {
    padding: 100px;
    text-align: center;
    background: #0B1F3A;
    color: white;
}

.btn {
    background: #F47A20;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}
